<!doctype html>
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Войти</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'auth/css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
      {% render_field form.username class="form-control" placeholder="Имя пользователя" %}
      {{ form.username.errors }}
      {% render_field form.password class="form-control" placeholder="Пароль" type="password" %}
      {{ form.password.errors }}
      <a href="/register">Ещё нет аккаунта? Зарегестрироваться</a>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
