{% extends 'web/base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
<section class="jumbotron text-center">
<div class="container">
  <h1 class="jumbotron-heading">PicHOST</h1>
  <p class="lead text-muted">Photos for everyone</p>
  {% if not user.is_authenticated %}
  <p>
    <a href="/register" class="btn btn-primary my-2">Регистрация</a>
    <a href="/login" class="btn btn-secondary my-2">Войти</a>
  </p>
  {% endif %}
</div>
</section>

<div class="album py-5 bg-light">
<div class="container">

  <div class="row">
    {% for picture in pictures %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{picture.image.url}}">
        <div class="card-body">
          <p class="card-text">{{picture.title}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Просмотреть</button>
            </div>
            <div class="btn-group">
              {% if not user in picture.liked_by.all %}
              <button onclick="like($(this), {{picture.id}});"
                      type="button" class="btn btn-sm btn-outline-secondary">Нравится</button>
              {% else %}
              <button onclick="like($(this), {{picture.id}});"
                      type="button" class="btn btn-sm btn-outline-secondary active">Нравится</button>
              {% endif %}
            </div>
            <small class="text-muted">{{picture.created_at}}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
<script>
  function likeRequest(pictureID) {
    $.ajax({url:'/like?picture_id=' + pictureID, method: 'POST'});
  }

  function like(e, pictureID) {
    likeRequest(pictureID);
    e.toggleClass('active');
  }
</script>
{% endblock %}